# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build artifacts
target/
*.class
# Intellij IDEA
.idea/
*.iml

# Existing Intellij ignored files
.shelf/
.workspace.xml
httpRequests/
dataSources/
dataSources.local.xml/

# Sensitive config files
# db.properties
# application.properties